.THIS.c-container {
    border: 1px solid #d8dde6;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    padding: 10px;
}

.THIS.c-container.results-container {
    padding-left: 0;
    padding-right: 0;
}

.THIS .suggestion-panel {
    background-color: white;
    border: 1px solid #d8dde6;
    height: auto;
    padding: 2px;
    position: absolute;
    overflow: auto;
    width: 40%;
    z-index: 1;
}

.THIS .suggestion-panel .suggestion-item {
    border-bottom: 1px solid #d8dde6;
    padding: 5px;
}

.THIS .suggestion-panel .suggestion-item:hover {
    cursor: pointer;
    font-weight: bold;
}