.THIS #page {
   border-collapse: collapse;
}

.THIS label{
    color: #30a27c;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: PT Sans, sans-serif;
    text-align: justify;
    white-space: nowrap;
}

.THIS .rightColumn{
    padding-left: var(--lwc-varSpacingMedium,.75rem);
}

.THIS .leftColumn{
    padding-right: var(--lwc-spacingSmall,0.75rem);
}

.THIS .rightColumn lightning-output-field,
.THIS .leftColumn lightning-output-field {
    margin-bottom: 0 !important;
}