.THIS .icon_left {
    padding-left: 0;
    text-align: left;
    margin-top: .75rem;
    margin-bottom: .75rem;

}

.THIS .header_custom {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: .75rem;

}

.THIS .label_custom{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Open Sans";
    display: inline-block;
    padding-left: .75rem;
}