<apex:page standardController="Account" extensions="VP_AccountVIP">
    <apex:includeLightning />
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="lightning" />

    <style>
        body {
            padding: 0 !important;
        }
    </style>

    <script>
        $Lightning.use("c:AccountVIPApp", function () {
            $Lightning.createComponent("c:LC_AccountVIP",
                { recordId: "{!recordId}" },
                "lightning",
                function (cmp) {
                    console.log("button was created");
                    // do some stuff
                });
        });
    </script>
</apex:page>