<apex:page showHeader="true" sidebar="true" StandardController="zqu__Quote__c" 
    extensions="CreatePaymentMethodController">
    <!-- Render the payment page component, -->
    <!-- using the url parameters as attribute values -->
    <zqu:PaymentPage zuoraPageId="{!pageId}" submitEnabled="true" style="inline"/>
</apex:page>